
@{
    ViewBag.Title = "LST Shop";
}


<div class="row" >
    <div class="col-lg-6 col-xs-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h3>100+</h3>
                <p>Sản phẩm</p>
            </div>
            <div class="icon">
                <i class="ion ion-cash"></i>
            </div>
            <a href="~/Product" class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <div class="col-lg-6 col-xs-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h3>65</h3>
                <p>Đơn hàng</p>
            </div>
            <div class="icon">
                <i class="ion ion-android-cart"></i>
            </div>
            <a href="~/Order" class="small-box-footer">Chi tiết <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>


